<%= turbo_frame_tag "session" do %>
  <%= render "modal", title: params[:title] do %>
    <%= form_with(url: login_path, scope: :session, html: { data: { action: "turbo:submit-end->previewModal#close" } }) do |f| %>
      <%= f.hidden_field :session_mode, value: session_mode_check() %>
      <%= render "password_flash" %>
      <% if session_mode_check() == "random_set" %>
        <div class="input-group">
          <%= f.password_field :password, class: "form-control", required: true %>

          <%= f.submit "検証", class: "btn btn-primary" %>
        </div>
      <% elsif session_mode_check() == "user" %>
        <div class="input-group mb-3">
          <%= f.label :user_id, t("common.user_id"), class: "input-group-text" %>
          <%= f.text_field :user_id, class: "form-control", required: true %>
        </div>
        <div class="input-group mb-3">
          <%= f.label :password, t("common.password"), class: "input-group-text" %>
          <%= f.password_field :password, class: "form-control", required: true %>
        </div>
        <p class="form-text">新規ユーザーは
          <%= link_to "こちら", new_user_path, data: { turbo_frame: "_top" } %>
          から作成<br>
          ※ユーザー作成せずにセットは作成できます。
        </p>
        <%= f.submit "ログイン", class: "btn btn-primary p-3" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
