<%= turbo_frame_tag "random_set_password" do %>
  <%= render "modal", title: "編集パスワード入力" do %>
    <% if logged_in? %>
      <p>既にログイン可能です</p>
    <% else %>
      <%= form_with(model: @session, html: { data: { action: "turbo:submit-end->previewModal#close" } }) do |f| %>
        <div class="input-group">
          <%= f.password_field :password, class: "form-control" %>

          <%= f.submit "検証", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
