<%= turbo_frame_tag lottery do %>
  <div class="row mt-auto border-bottom d-flex align-items-center p-1 m-0">
    <div class="col-1 form-check">
      <% if lottery.default_check then %>
        <span class="bi bi-check-square-fill primary-text color-blue"></span>
      <% else %>
        <span class="bi bi-square flip-opacity"></span>
      <% end %>
    </div>
    <div class="col-1">
      <% if lottery.default_pickup then %>
        <span class="bi bi-stars"></span>
      <% else %>
        <span class="bi bi-stars flip-opacity"></span>
      <% end %>
    </div>
    <div class="col-1">
      <%= get_realityname(lottery.reality) %>
    </div>
    <div class="col-3">
      <%= lottery.name %>
    </div>
    <div class="col-1 text-center">
      <% if lottery.value == -1 %>
        <span class="bi bi-infinity"></span>
      <% else %>
        <%= lottery.value %>
      <% end %>
    </div>
    <div class="col-4">
      <%= lottery.dict %>
    </div>
    <div class="col-1 d-flex">
      <%= link_to "", edit_random_set_lottery_path(random_set_id: @random_set.id, id: lottery.id),
        id: "lottery_edit_#{lottery.id}",
        class: "btn btn-primary btn-small bi bi-pencil-square",
        data: { turbo_frame: "modal", controller: "tooltip", tooltip: "編集" }
      %>
      <%= button_to "", random_set_lottery_path(random_set_id: @random_set.id, id: lottery.id),
        method: :delete,
        id: "lottery_delete_#{lottery.id}",
        class: "btn btn-danger btn-small bi bi-fire",
        form: { data: { turbo_confirm: "本当に削除しますか？" } },
        data: { controller: "tooltip", tooltip: "削除" }
      %>
    </div>
  </div>
<% end %>
