<%= turbo_frame_tag "edit_lottery" do %>
  <div class="row border-bottom">
    <div class="col-1 mt-auto">
      <strong>
        <%= sort_link(@search, :default_check, class: "text-decoration-none text-black") do %>
          Check
        <% end %>
      </strong>
    </div>
    <div class="col-1 mt-auto">
      <%= sort_link(@search, :default_pickup, class: "text-decoration-none text-black") do %>
        <span class="bi bi-stars">
      <% end %>
    </div>
    <div class="col-1 mt-auto">
      <strong>
        <%= sort_link(@search, :reality, class: "text-decoration-none text-black") %>
      </strong>
    </div>
    <div class="col-3 mt-auto">
      <strong>
        <%= sort_link(@search, :name, class: "text-decoration-none text-black") %>
      </strong>
    </div>
    <div class="col-1 mt-auto">
      <strong>
        <%= sort_link(@search, :value, class: "text-decoration-none text-black") %>
      </strong>
    </div>
    <div class="col-5 mt-auto">
      <strong>
        <%= sort_link(@search, :dict, class: "text-decoration-none text-black") %>
      </strong>
    </div>
  </div>
  <div id="lotteries">
    <% @lotteries.each_with_index do |lottery, index| %>
      <div class="<%= "bg-body-secondary" if index.even? %>">
        <%= render partial: "lotteries/edit_lottery", locals: { lottery: lottery, index: index } %>
      </div>
    <% end %>
  </div>
<% end %>
