<%= turbo_frame_tag lottery do %>
  <div class="row mt-auto border-bottom d-flex align-items-center">
    <div class="col-1 form-check">
      <% if lottery.default_check then %>
        <input class="form-check-input" type="checkbox" checked disabled>
      <% else %>
        <input class="form-check-input" type="checkbox" disabled>
      <% end %>
    </div>
    <div class="col-1">
      <% if lottery.default_pickup then %>
        <span class="bi bi-stars"></span>
      <% else %>
        <span class="bi bi-stars flip-opacity"></span>
      <% end %>
    </div>
    <div class="col-1">
      <%= get_realityname(lottery.reality) %>
    </div>
    <div class="col-3">
      <%= lottery.name %>
    </div>
    <div class="col-1">
      <%= lottery.value %>
    </div>
    <div class="col-4">
      <%= lottery.dict %>
    </div>
    <div class="col-1">
      <%= link_to "編集", edit_random_set_lottery_path(random_set_id: @random_set.id, id: lottery.id),
        class: "btn btn-primary btn-small",
        data: { turbo_frame: "modal" }
      %>
      <%= button_to "削除", random_set_lottery_path(random_set_id: @random_set.id, id: lottery.id),
        method: :delete,
        class: "btn btn-danger btn-small",
        form: { data: { turbo_confirm: "本当に削除しますか？" } }
      %>
    </div>
  </div>
<% end %>
