<tr data-randomizer-target="lotteries">
  <td>
    <% if lottery.default_check == true then %>
      <input type="checkbox" class="form-check-input" id="chkLottery-<%= lottery.id %>" checked>
    <% else %>
      <input type="checkbox" class="form-check-input" id="chkLottery-<%= lottery.id %>">
    <% end %>
  </td>
  <td data-controller="flip" data-action="dblclick->flip#flip">
    <span class="bi bi-stars <%= lottery.default_pickup == true ? "" : "flip-opacity" %>" data-pickup-id=<%= lottery.id %>></span>
  </td>
  <% if defined?(@random_set) != nil && params[:action] == "show" then %>
    <td data-controller="flip" data-action="dblclick->flip#flip">
      <span class="bi-hand-index-fill flip-opacity"></span>
    </td>
  <% end %>
  <td>
    <span data-value=<%= lottery.reality %>><%= get_realityname(lottery.reality) %></span>
  </td>
  <td><%= lottery.name %></td>
  <% if defined?(@random_set) != nil then %>
    <td>
      <span data-value=<%= lottery.value %> data-default-value=<%= lottery.value %>
        class='<%= "bi bi-infinity" if lottery.value == -1 %>' data-randomizer-target="lotteriesValue"
        data-action="dblclick->number-change#change" data-type="value" id=<%= lottery.id %>
      >
        <%= lottery.value if lottery.value != -1 %>
      </span>
    </td>
  <% end %>
  <td><%= lottery.dict %></td>
</tr>
