<%= turbo_frame_tag lottery do %>
  <li>
    <div class="row border-bottom">
      <% if @random_set.present? %>
        <div class="col-1">
          <% if lottery.default_check == true then %>
            <input type="checkbox" class="form-check-input" id="chkLottery-<%= lottery.id %>" name="Lotteries" value='<%= lottery.to_json %>' checked>
          <% else %>
            <input type="checkbox" class="form-check-input" id="chkLottery-<%= lottery.id %>" name="Lotteries" value='<%= lottery.to_json %>' >
          <% end %>
          <% if lottery.default_pickup == true then %>
            <span class="bi bi-stars "></span>
          <% end %>
        </div>
      <% end %>

      <div class="col-3 mt-auto">
        <%= get_realityname(lottery.reality) %>
      </div>
      <div class="col-4 mt-auto">
        <%= lottery.name %>
      </div>
      <% if @random_set.present? %>
        <div class="col-4 mt-auto">
          <%= lottery.dict %>
        </div>
      <% end %>
    </div>
  </li>
<% end %>
