<tr data-randomizer-target="lotteries">
  <td>
    <% if lottery.default_check == true then %>
      <input type="checkbox" class="form-check-input" id="chkLottery-<%= lottery.id %>" checked>
    <% else %>
      <input type="checkbox" class="form-check-input" id="chkLottery-<%= lottery.id %>">
    <% end %>
  </td>
  <td data-controller="flip" data-action="dblclick->flip#flip">
    <% if lottery.default_pickup == true then %>
      <span class="bi bi-stars" data-pickup-id=<%= lottery.id %>></span>
    <% else %>
      <span class="bi bi-stars flip-opacity" data-pickup-id=<%= lottery.id %>></span>
    <% end %>
  </td>
  <td data-controller="flip" data-action="dblclick->flip#flip">
    <span class="bi-hand-index-fill flip-opacity"></span>
  </td>
  <td>
    <span data-value=<%= lottery.reality %>><%= get_realityname(lottery.reality) %></span>
  </td>
  <td><%= lottery.name %></td>
  <td><%= lottery.dict %></td>
</tr>
