<tr>
  <td>
    <% if lottery.default_check == true then %>
      <input type="checkbox" class="form-check-input" id="chkLottery-<%= lottery.id %>" name="Lotteries" value='<%= lottery.to_json %>' checked>
    <% else %>
      <input type="checkbox" class="form-check-input" id="chkLottery-<%= lottery.id %>" name="Lotteries" value='<%= lottery.to_json %>' >
    <% end %>
  </td>
  <td>
    <% if lottery.default_pickup == true then %>
      <span class="bi bi-stars "></span>
    <% end %>
  </td>
  <td>
    <span data-value=<%= lottery.reality %>><%= get_realityname(lottery.reality) %></span>
  </td>
  <td><%= lottery.name %></td>
  <td><%= lottery.dict %></td>
</tr>
