<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col d-flex align-items-center">
        <div class="bi-box-fill" data-controller="tooltip" data-tooltip="このセット全体の個数です。0の時に引くとリセットがかかります。">ボックス全体数</div>
        <div class="col d-flex justify-content-end">
          <button class="btn btn-info btn-small" data-action="info#fixBox">固定</button>
          <button class="btn btn-warning btn-small" data-action="info#resetBox">リセット</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="form-text">※-1は無限として扱います。</div>
    <% if list_edit_action.include?(params[:action]) %>
      <%= form_with model: @random_set do |f| %>
        <%= render "form_flash", object: f.object %>
        <div class="input-group">
          <%= f.number_field :default_value, class:"form-control" %>
          <%= f.submit "変更", class: "btn btn-primary"%>
        </div>
      <% end %>
    <% else %>
      <div class="input-group mb-3">
        <input id="boxValue" type="number" class="form-control" value=<%= @random_set.default_value %> data-default-value=<%= @random_set.default_value %> min=-1 data-info-target="setValue" data-randomizer-target="setValue">
        <div class="input-group-text">個</div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-text"><small>ボックスリセット回数</small></div>
        <input type="number" class="form-control" value=0 data-default-value=0 data-info-target="setValue" data-randomizer-target="resetCount" disabled>
        <div class="input-group-text">回</div>
      </div>
      <div>ボックスリセット時の処理</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="form-text">レアリティ別個数</div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="valueFrameResetPattern" value="reset" data-randomizer-target="valueFrameResetPattern" checked>
            <label class="form-check-label"><small>リセット</small></label>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-text">セットの個数</div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="lotteryValueResetPattern" value="reset" data-randomizer-target="lotteryValueResetPattern" checked>
            <label class="form-check-label"><small>リセット</small></label>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>
