<%= turbo_frame_tag "random_set_infomation" do %>
  <div class="card" data-controller="info">
    <div class="card-header">
      <i class="bi bi-bar-chart">セット設定</i>
    </div>
    <div class="card-body">
      <% if chk_parameter(@random_set) || params[:action] == "edit" %>
        <div class="row" data-randomizer-target="infomation" data-setcheck="true">
          <div class="col-md">
            <%= render "list",  
              list: "reality", list_icon: "bi-eyedropper", list_name: "レアリティ抽選率", quantity: "%",
              tooltip_message: "設定されていないレアリティは余ってる確率を等分します。",
              target_list: @random_set.rate, turbo_name: "pickList"
            %>
          </div>
          <div class="col-md">
            <%= render "list",  
              list: "pickup", list_icon: "bi-star-fill", list_name: "ピックアップ確率", quantity: "%",
              tooltip_message: "ピックアップ判定において利用されます。挙動については「ピックアップ抽選方式」を確認してください。",
              target_list: @random_set.pickup_rate, turbo_name: "pickupList"
            %>
          </div>
          <% if @random_set.pick_type == "box" || params[:action] == "edit" %>
            <div class="col-md">
              <%= render "list",  
                list: "value", list_icon: "bi-cikkectuib-fill", list_name: "レアリティ個数", quantity: "個",
                tooltip_message: "レアリティ事態の抽選個数の制限です。",
                target_list: @random_set.value_list, turbo_name: "valueList"
              %>
            </div>
          <% end %>
        </div>
      <% else %>
        <span data-randomizer-target="infomation" data-setcheck="false">設定がありません。編集にて設定を追加してください。</span>
      <% end %>
    </div>

    <%# モーダル要素 %>
    <div class="modal fade" data-info-target="infoModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">追加</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <select class="form-select" style="width: -10%;" data-info-target="selectReality">
                <% get_realityname_list().each do |i| %>
                  <option value=<%= i %> data-info-target="realityTranslation" data-randomizer-target="realityTranslation"><%= get_realityname(i) %></option>
                <% end %>
              </select>
              <input id="addReality" class="form-control" type="number" step="0.1" value=0 data-info-target="value">
            </div>
            <small>注：一時的な追加です。ページ移動をすると消去されます。</small>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-action="click->info#add">追加</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
