<%= turbo_frame_tag "random_set_infomation" do %>
  <div class="card" data-controller="info">
    <div class="card-header">
      <i class="bi bi-bar-chart">セット設定</i>
    </div>
    <div class="card-body">
      <% if chk_parameter(@random_set) || list_edit_action.include?(params[:action]) %>
        <div class="row" data-randomizer-target="infomation" data-setcheck="true">
          <div class="col-lg mb-3">
            <%= render "list", list_object: get_list_parameter("reality_list") %>
          </div>
          <div class="col-lg mb-3">
            <%= render "list", list_object: get_list_parameter("pickup_list") %>
          </div>
          <% if @random_set.pick_type == "box" || list_edit_action.include?(params[:action]) %>
            <div class="col-lg mb-3">
              <%= render "list", list_object: get_list_parameter("value_list") %>
            </div>
            <div class="col-lg">
              <%= render "box_card" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <span data-randomizer-target="infomation" data-setcheck="false">設定がありません。編集にて設定を追加してください。</span>
      <% end %>
    </div>

    <%# モーダル要素 %>
    <div class="modal fade" data-info-target="infoModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">追加</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <select class="form-select" style="width: -10%;" data-info-target="selectReality">
                <% get_realityname_list().each do |i| %>
                  <option value=<%= i %> data-info-target="realityTranslation" data-randomizer-target="realityTranslation"><%= get_realityname(i) %></option>
                <% end %>
              </select>
              <input id="addReality" class="form-control" type="number" step="0.1" min=-1 value=0 data-info-target="value">
            </div>
            <small>注：一時的な追加です。ページ移動をすると消去されます。</small>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-action="click->info#add">追加</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
