<div class="card mt-3">
  <div class="card-header">
    <div class="d-flex">
      <div class="col-8 d-flex align-items-center">
        <i class="bi bi-journal">セット情報</i>
      </div>
      <div class="col-4 mt-auto d-flex justify-content-end">
        <%= link_to "編集", edit_random_set_path(@random_set),
          class: "btn btn-secondary",
          data: { turbo_frame: "modal" } 
        %>
      </div>
    </div>
  </div>
  <div class="card-body mt-3">
    <%= turbo_frame_tag "random_set_info" do %>
      <div class="row mt-auto">
        <div class="col">
          <p>セット名称：<%= @random_set.name %></p>
          <% if @random_set.dict.present? %>
            <div class="col">
              <p>セット説明：<%= @random_set.dict %></p>
            </div>
          <% end %>
          <%# ModおよびValiant用 %>
          <% if @random_set.parent.present? %>
            <div class="col">
              <%= link_to @parent_set.name, random_set_lottery_path(@parent_set), class: "btn btn-outline-secondary", data: { turbo_frame: "random_set" } %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row mt-auto">
        <div class="col">
          <%= render "infomation" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
