<%= turbo_frame_tag random_set do %>
  <div class="row py-2 border-top">
    <div class="col-4 my-auto text-truncate">
      <%= random_set.name %>
    </div>
    <div class="col-4 my-auto text-truncate">
      <%= random_set.dict %>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <%= link_to "確認", random_set_lotteries_path(random_set.id), class: "btn btn-sm btn-outline-primary me-2", data: { turbo_frame: "preview_modal" } %>
        <%= link_to "選択", random_set_path(random_set), class: "btn btn-sm btn-outline-secondary", data: { turbo_frame: "_top" } %>
      </div>
    </div>
  </div>
<% end %>
