<%= turbo_frame_tag "random_set_info" do %>
  <div class="card mt-3">
    <div class="card-header">
      <div class="d-flex">
        <div class="col-8 d-flex align-items-center">
          <i class="bi bi-journal">セット情報</i>
        </div>
        <div class="col-4 mt-auto d-flex justify-content-end">
          <% if params[:action] == "edit" || params[:action] == "update" %>
            <%= link_to "ランダマイザーへ", random_set_path(@random_set),
              class: "btn btn-primary",
              data: { turbo_frame: "random_set" }
            %>
          <% else %>
            <% if logged_in? %>
              <%= link_to "編集モードへ", edit_random_set_path(@random_set),
                class: "btn btn-primary",
                data: { turbo_frame: "random_set" } %>
            <% else %>
              <%= link_to "編集", login_path(@random_set),
                class: "btn btn-secondary",
                data: { turbo_frame: "modal" } 
              %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row mt-auto">
        <% if params[:action] == "show" %>
          <div class="col">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5>セット名称</h5>
                <%= @random_set.name %>
              </li>
              <% if @random_set.dict.present? %>
                <li class="list-group-item">
                  <h5>セット説明</h5>
                  <% if @random_set.dict.length >= 255 then %>
                    <div class="text-truncate mb-2">
                      <%= simple_format(@random_set.dict) %>
                    </div>
                    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#random_set_long_dict" aria-expanded="false" aria-controls="collapse">
                        全ての確認はこちらから
                    </button>
                    <div class="collapse" id="random_set_long_dict">
                      <div class="card card-body">
                        <%= simple_format(@random_set.dict) %>
                      </div>
                    </div>
                  <% else %>
                    <%= simple_format(@random_set.dict) %>
                  <% end %>
                </li>
              <% end %>
              <li class="list-group-item mb-3">
                <h5>抽選タイプ</h5>
                <span data-controller="tooltip" data-randomizer-target="lotStyle" data-style=<%= @random_set.pick_type %> data-tooltip="<%= get_infomation_conversion(@random_set.pick_type + "-tip") %>">
                  <%= get_infomation_conversion(@random_set.pick_type) %>
                </span>
                <span data-randomizer-target="pickupStyle" data-style="pre"></span>
                <%# ModおよびValiant用 %>
                <% if @random_set.parent.present? %>
                  <div class="col">
                    <%= link_to @parent_set.name, random_set_lottery_path(@parent_set), class: "btn btn-outline-secondary", data: { turbo_frame: "random_set" } %>
                  </div>
                <% end %>
              </li>
            </ul>
          </div>
        <% elsif params[:action] == "edit" || params[:action] == "update" %>
          <div class="col mb-3" id="random_set_edit_forms">
            <%= form_with model: @random_set do |f| %>
              <%= render "form_flash", object: f.object %>
              <div class="input-group mb-3">
                <%= f.label :name, class: "input-group-text" %>
                <%= f.text_field :name, class: "form-control", required: true %>
              </div>
              <div class="input-group mb-3">
                <%= f.label :dict, class: "input-group-text" %>
                <%= f.text_area :dict, class: "form-control" %>
              </div>
              <div class="input-group mb-3 w-25">
                <%= f.label :pick_type, class: "input-group-text" %>
                <%= f.select :pick_type, [[get_infomation_conversion("mix"), "mix"], [get_infomation_conversion("box"), "box"]], {}, class: "form-select" %>
              </div>
              <%= f.submit "更新", class: "btn btn-primary" %>
              <%= link_to "リセット", edit_random_set_path(@random_set),
                class: "btn btn-danger",
                data: { turbo_stream: "edit" }
              %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row mt-auto">
        <div class="col">
          <%= render "information" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
