<%# タイトル %>
<% content_for :title, @random_set.name %>

<%# random_set情報 %>
<%= turbo_frame_tag "random_set" do %>
  <div data-controller="randomizer">
    <%= render "random_set_info" %>

    <%# ランダマイザー操作部 %>
    <%= render "randomizer_core" %>

    <%# 結果表示 %>
    <%= render "result" %>

    <%# 要素確認 %>
    <div class="card mt-3">
      <div class="card-header">
        <i class="bi bi-database">セット内容</i>
      </div>
      <div class="card-body">
        <ul class="list-unstyled">
          <%= render "randomset_lotteries" %>
        </ul>
      </div>
    </div>
    <%# トースト要素 %>
    <div class="toast-container position-fixed top-0 end-0 p-3" >
      <div class="toast" role="alert" aria-atomic="true" id="toast">
        <div class="toast-header">
          <strong class="me-auto" id="toastHeader"></strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <span id="toastBody"></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
