<%# タイトル %>
<% content_for :title, @random_set.name %>

<%# random_set情報 %>
<%= turbo_frame_tag "random_set" do %>
  <div class="card mt-3">
    <div class="card-header">
      <div class="d-flex">
        <div class="col-8">
          <i class="bi bi-journal">詳細情報</i>
        </div>
        <div class="col-4 mt-auto d-flex justify-content-end">
          <%= link_to "編集", edit_random_set_path(@random_set),
            class: "btn btn-secondary",
            data: { turbo_frame: "modal" } 
          %>
        </div>
      </div>
    </div>
    <div class="card-body mt-3">
      <%= turbo_frame_tag "random_set_info" do %>
        <div class="row mt-auto">
          <p>名称：<%= @random_set.name %></p>
          <% if @random_set.dict.present? %>
            <p>セット説明：<%= @random_set.dict %></p>
          <% end %>
          <%# ModおよびValiant用 %>
          <% if @random_set.parent.present? %>
            <%= link_to @parent_set.name, random_set_lottery_path(@parent_set), class: "btn btn-outline-secondary", data: { turbo_frame: "random_set" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "random_set_lotteries" do %>
    <%# ランダマイザー機能 %>
    <div class="card mt-3">
      <div class="card-header">
        <i class="bi bi-dice-3-fill">ランダマイザー</i>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <ul class="list-unstyled" data-controller="randomizer">
              <li><button class="btn btn-primary mb-1" data-action="click->randomizer#oneDraw">１回引く</button></li>
              <li><button class="btn btn-primary mb-1" data-action="click->randomizer#tenDraw">１０回引く</button></li>
              <li><button class="btn btn-primary mb-1" data-action="click->randomizer#anyDraw">指定数引く</button></li>
              <li><button class="btn btn-primary mb-1" data-action="click->randomizer#drawToTarget">指定の物が出るまで引く</button></li>
            </ul>
          </div>
          <div class="col-6">
            <div class="input-group mb-4">
              <label for="randomSeed" class="input-group-text">シード値</label>
              <input id="randomSeed" name="randomSeed" type="number" class="form-control" placeholder="未設定時は都度生成" />
            </div>
            <div class="input-group mb-4">
              <label for="anyDrawNumber" class="input-group-text">指定数</label>
              <input id="anyDrawNumber" name="anyDrawNumber" type="number" class="form-control" placeholder="正数のみ有効、マイナスは無効" />
            </div>
            <div class="card">
              <div class="card-header">
                疑似乱数生成方式
              </div>
              <div class="card-body">
                <div class="form-check">
                  <label for="checkMT" class="from-check-label">メルセンヌツイスタ</label>
                  <input id="checkMT" name="randomizerSwitched" type="radio" class="form-check-input" checked>
                </div>
                <div class="form-check">
                  <label for="checkXrandom" class="form-check-label">Xrandom</label>
                  <input id="checkXrandom" name="randomizerSwitched" type="radio" class="form-check-input">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# 結果表示 %>
    <div class="card mt-3">
      <div class="card-header">
        <i class="bi bi-dice-3">結果表示</i>
      </div>
      <div class="card-body">
        <p id="result"></p>
      </div>
    </div>

    <%# 要素確認 %>
    <div class="card mt-3">
      <div class="card-header">
        <i class="bi bi-database">セット内容</i>
      </div>
      <div class="card-body">
        <ul class="list-unstyled">
          <%= render "randomset_lotteries" %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
