<div class="d-flex flex-column flex-shrink-0 bg-dark text-white vh-100 ">
  <div class="align-items-center justify-content-center py-2 px-2 text-center">
      <%= link_to "Randomizer App", root_path, class: "text-white display-7 text-decoration-none" %>
    <hr />
    <div class="row">
      <ul class="nav flex-column">
        <li><%= link_to "セット作成", new_random_set_path, class: "nav-link link-light" %></li>
        <li><%= link_to "セット検索", random_sets_path, class: "nav-link link-light" %></li>
        <li><%= link_to "", "#", class: "nav-link link-light" %></li>
        <li><%= link_to "", "#", class: "nav-link link-light" %></li>
      </ul>
    </div>
  </div>
</div>
