<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Randomizer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="w-100 p-0">
      <div class="row ps-0 position-fixed header">
        <%= render "header" %>
      </div>
      <div class="row w-100  d-flex justify-content-center container-fluid py-5">
        <div class="col m-4 main-body py-6">
          <%= yield %>
        </div>
      </div>
      <%= turbo_frame_tag "modal" %>
      <%= turbo_frame_tag "preview_modal" %>
      <div id="flashes" class="position-fixed bottom-0 end-0 m-1"></div>
  </body>
</html>
